:root {
    --c-text: #000;
    --c-background: #fff;
    --c-btn-background: #e7e7e7;

    @media (prefers-color-scheme: dark) {
        --c-text: #fff;
        --c-background: #27272a;
        --c-btn-background: #555;
    }
}

html {
    background-color: var(--c-background);
    font-family: sans-serif;
    box-sizing: content-box;
    margin: 0;
    height: 100%;
}

body {
    box-sizing: content-box;
    margin: 0;
    height: 100%;
}

form {
    box-sizing: content-box;
    height: 100%;
    margin: 0;
}

button {
    color: var(--c-text);
    background-color: var(--c-btn-background);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
    background-color: #7a01d0;
}

#spaces {
    color: var(--c-text);
    width: 100%;
    border-collapse: collapse;
}

#spaces td {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#spaces td:first-of-type {
    border-left: none;
}

#spaces td:last-of-type {
    border-right: none;
}

#spaces thead td {
    font-weight: bold;
    padding: 10px;
}

#spaces tbody input {
    background-color: var(--c-background);
    border: none;
    color: var(--c-text);
    height: 100%;
    width: 100%;
    font-size: inherit;
    padding: 10px;
    box-sizing: border-box;
}

#spaces tbody button {
    margin: 10px;
}

#actions {
    width: 100%;
    margin: 10px 0;
    text-align: right;
}

#actions button:first-of-type {
    margin-right: 5px;
}
